{% extends "base.html" %}

{% load sekizai_tags i18n %}


{% block content %}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}uploadifive.css" rel="stylesheet">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}jquery.uploadifive.js"></script>

        <script type="text/javascript">
            $(function() {
                uploadifive = $('#file_upload').uploadifive({
                    buttonText: "{% trans "Upload" %}",
                    queueID: 'queue',
                    auto: true,
                    uploadScript: '',
                    onUpload : function(){$('#file_upload').data('uploadifive').settings.formData = {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()} },
                    onUploadComplete : function(file, data) {  }
                });
            });
    	</script>
    {% endaddtoblock %}

    <h2>{% trans "Add images for" %} {{ animal }}</h2>

    <form action="" method="post">
        <input type="file" multiple name="file_upload" id="file_upload" value="Загрузить">
        <div id="queue"></div>
        {% csrf_token %}
    </form>
{% endblock %}