
{% load i18n sekizai_tags %}

{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        <title>{% trans "Just animals" %}</title>
        <meta name="description" content="">
    {% endblock %}

    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet">
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}style.css" rel="stylesheet">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.js"></script>
    {% endaddtoblock %}

    {% render_block "css" %}
    {% render_block "js" %}
  </head>

  <body>

    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">{% trans "Just animals" %}</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% for item in menu_popular %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
              {% endfor %}

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "More" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for item in menu_items %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="{% url "choose-animal" %}">{% trans "Add images" %}</a></li>
               <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %} <b class="caret"></b></a>
                   <ul class="dropdown-menu" role="menu">
                       {% for l in LANGUAGES %}
                       <li><a href="{% url "set_language" %}?language={{ l.0 }}">{{ l.1 }}</a></li>
                       {% endfor %}
                   </ul>
               </li>
             </ul>
          </div>
        </div>
      </div>

      <div class="jumbotron">
      {% block content %}

      {% endblock %}
      </div>

    </div>




      <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24568439 = new Ya.Metrika({id:24568439,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/24568439" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
