{% extends "base.html" %}

{% load sekizai_tags i18n %}


{% block content %}
    <h2>{% trans "Choose animal, then upload images" %}</h2>
    <ul>
        {% for item in menu_popular %}
          <li><a href="{% url "add-images" slug=item.slug %}">{{ item }}</a></li>
        {% endfor %}
        {% for item in menu_items %}
          <li><a href="{% url "add-images" slug=item.slug %}">{{ item }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}