{% extends "base.html" %}

{% load sekizai_tags thumbnail i18n %}

{% block meta %}
    {% trans "Animals" as animals_text %}
    <title>{{ animal.name|default:animals_text }} - {% trans "pictures, description" %}</title>
    <meta name="description" content="{{ animal.name }} - {% trans "pictures, description" %}">
{% endblock %}


{% block content %}
    {% addtoblock "css" %}
        <link href="style.css" rel="stylesheet">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.js"></script>
    {% endaddtoblock %}

    <div class="fotorama" data-nav="thumbs" data-width="100%" data-height="100%" data-hash="true" data-allowfullscreen="true">
        {% for image in images %}
        <a href="{{ image.image.url }}" data-caption="{{ image.animal.name }}" id="image{{ image.pk }}">
            {% thumbnail image.image "x90" as img %}
                <img src="{{ img.url }}">
            {% endthumbnail %}
        </a>
        {% endfor %}
    </div>
{% endblock %}